@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(143, 146, 147, 0.3), rgba(143, 146, 147, 0.3)), url(./img/new-year.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;

}

h1 {
    font-size: 60px;
    margin: -80px 0 40px;
}

.year {
    font-size: 200px;
    z-index: -1;
    opacity: 0.1;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}

.countdown {
    display: none;
    transform: scale(2);
}

.period {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.period h2 {
    margin: 0 0 5px;
}

@media(max-width: 500px) {
    h1 {
        font-size: 42px;
    }

    .period {
        margin: 5px;
    }

    .period h2 {
        font-size: 12px;
        margin: 0;
    }

    .period small {
        font-size: 10px;
    }

    .year {
        font-size: 120px;
    }
}